.bg-custom-gradient {
    background: linear-gradient(108deg, #AAE4C5 -6.77%, #EFEC80 45.65%, #D2F69E 108.92%);
  }
.bg-card-color {
    background: rgba(255, 255, 255, 0.50)
}
.text-head-color {
    color: #49526A
}