html {
		background: linear-gradient(108deg, #AAE4C5 -6.77%, #EFEC80 45.65%, #D2F69E 108.92%);
		padding: 0px !important;

}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-top: 40px;
	height: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.authentication-background {
		background: rgb(139, 175, 143);
		background: linear-gradient(
			156deg,
			rgba(139, 175, 143, 1) 0%,
			rgba(231, 238, 135, 1) 48%,
			rgba(139, 175, 143, 1) 100%
		);
	}
	.gradient {
		background: linear-gradient(108deg, #AAE4C5 -6.77%, #EFEC80 45.65%, #D2F69E 108.92%)
		 /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	}
	.gradient-two {
		background: linear-gradient(
			108deg,
			#aae4c5 -6.77%,
			#efec80 45.65%,
			#d2f69e 108.92%
		);
	}
	.error-input:invalid[focused='true'] {
		@apply border-red-500;
	}
	.error-input:invalid[focused='true'] ~ span {
		@apply text-red-500;
	}
}

@layer utilities {
	.authentication-inputs {
		@apply bg-white w-full rounded-full px-10 py-1.5 outline-transparent focus-within:outline-[#E7EE87] focus:outline-[#E7EE87] active:outline-none duration-300 ease-in-out transition-all group-hover:bg-[#E7EE87] group-hover:text-slate-900 group-hover:placeholder:text-slate-900 cursor-pointer;
	}
	.authentication-select {
		@apply bg-gray-100 w-full px-10 py-[9px] duration-300 ease-in-out transition-all text-[##828DA9] cursor-pointer pl-[80px] rounded-[50px] border border-gray-300 italic;
	}
	.authentication-icons {
		@apply absolute top-2 left-2 text-slate-800 p-1 bg-[#E7EE87] rounded-full duration-300 ease-in-out transition-all;
	}
}
